html,
body
{
    overflow: hidden;

    width: 100%;
    height: 100vh;
}



#alertArea {
    position: fixed;
    right: 15px;
    bottom: 14px;
    z-index: 100;
    overflow-y: auto;
    padding-top: 15px;
    max-width: 400px;
    max-height: 100%;
    background-color: transparent;
}

.ui.bulleted.list .list > .item:before,
.ui.bulleted.list > .item:before,
ul.ui.list li:before {
    display: none;
}

.ui.message > .close.icon {
    color: red;
}

.ui.message p {
    margin-top: 0;

    padding-right: 20px;
}
