html,
body
{
    overflow: hidden;

    width: 100%;
    height: 100vh;
}

.ui.segments
{
    margin: 0;
}

.ui.raised.segments.wrapper
{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 0;
}

/*  */
/* Заголовок страницы */
/*  */
.ui.attached.header.main-header
{
    margin-top: 0;
    border-bottom-width: 0;
}

.main-header__brand
{
    margin-top: 0;
    margin-bottom: 0;
}
.main-header__icon
{
    margin: 0 !important;
    margin-left: auto!important;

    vertical-align: middle;
}


/*  */
/* Основной контент страницы */
/*  */
.ui.attached.segment.main-content
{
    display: flex ;
    flex-direction: row;

    height: calc(100% - 1.28571429em - 2rem );
}

/* Левый вертикальный блок - список отслеживаемых объектов == main-content__left*/
.objects-list
{
    width: 15%;
    height: 100%;
    overflow: hidden;
    margin-bottom: 0;
}

.objects-list__content
{
    height: calc(100% - 1.28571429em - 21px);
 
}

.objects-list__list
{
 
}

.objects-list__list .item {
 border: 1px solid rgba(34,36,38,.15);
 border-radius: 2px;
 cursor: pointer;
}

 .item.active
{

    background-color: #DFDFDF;
}

.objects-list__content {
    overflow-y: auto;
    overflow-x: hidden;
}


/* Правый блок */
.main-content__middle
{
    width: 15%;
    height: 100%;
    margin-left: 1rem!important;
}
.main-content__right
{
    width: 55%;
    height: 100%;
    margin-left: 1rem!important;
}

#chartDiv {
    width   : 100%;
    height: calc(100vh - 200px);
    /* max-height   : 500px; */
}   



#alertArea {
    position: fixed;
    right: 15px;
    bottom: 14px;
    z-index: 100;
    overflow-y: auto;
    padding-top: 15px;
    max-width: 400px;
    max-height: 100%;
    background-color: transparent;
}

.ui.bulleted.list .list > .item:before,
.ui.bulleted.list > .item:before,
ul.ui.list li:before {
    display: none;
}

.ui.message > .close.icon {
    color: red;
}

.ui.message p {
    margin-top: 0;

    padding-right: 20px;
}

.main-header {
    display:  flex ;
    flex-direction: row;
    justify-content: space-between;
}

.display-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.display-flex p {
    margin-bottom: 0!important;
}

.color-green {
    color: #21ba45;
}